* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  padding-bottom: 100px;
}

.restaurant-app {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;

  .subheader-restaurant h3 {
    font-size: 2.5rem;
    color: crimson;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-restaurant h1 {
    font-size: 2.6rem;
    color: white;
    text-align: center;
    background-color: lightseagreen;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

    .card-list {
      background-color: white;
      border-radius: 20px;
      overflow: hidden;

      .card-header {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .card-body {
        padding: 20px;
        
        p {
          margin-top: 10px;
          line-height: 25px;
        }
      }
    }
  }
}